<h1>Questions#ask</h1>

<form action="/answer">
  <label for="gsearch">Search:</label>
  <input type="search" id="gsearch" name="question">
  <input type="submit">
</form>

<p>Find me in app/views/questions/ask.html.erb</p>
